@import './utils/vars';
@import './utils/common';
@import './components/header';
@import './components/navigation';
@import './components/hero';
@import './components/slider';
@import './components/advantages';
@import './components/about';
@import './components/card';
@import './components/popular-books';
@import './components/deposits';
@import './components/recommendations';
@import './components/events';
@import './components/selection-of-books.scss';
@import './components/consultation';
@import './components/footer';
@import './components/cart';
@import './components/path';





