<li class="order-card__item">
	<div>
		<p class="card__author">{{author}}</p>
		<p class="card__book">{{name}}</p>
	</div>
<div>
		<span class="card__amount">1</span>
		<span>x</span>
		<span class="card__price">{{price}}$</span>
</div>
</li>