// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// Colors
$main-bgc: #ffffff;
$footer-bgc: #F5F5F5;
$accent-bgc-light:#F8F8F8;
$accent-bgc-dark: #E9E5E0;

$header-tel-color: #606060;
$header-icon-color:#887569;

$nav-text-main-color: #4F4F4F;
$nav-text-accent-color: #887569;
$nav-icon-color: #7D6C65;

$title-color: #373737;
$main-text-color: #000000;
$menu-text-color:#1B1B1B;

$card-main-bgc: #FAF8F6;
$card-title-color:#181818;
$card-subtitle-color-dark: #606060;
$card-subtitle-color-light: #999999;

$btn-bgc: #887569;
$btn-text-color: #ffffff;

$input-text-color:#9F9F9F;
