<section class="consultation">
  <div class="container">
    <h2 class="consultation__title">Не можете определиться с выбором?</h2>
    <p class="consultation__subtitle">
      Закажите бесплатную консультацию с нашим книжным сомелье
    </p>
    <form action="" class="consultation__form">
      <input
        type="text"
        class="consultation__name"
        placeholder="Ваше имя"
      /><input
        type="text"
        class="consultation__number"
        placeholder="Ваш номер"
      />
      <button class="consultation__btn">ОСТАВИТЬ ЗАЯВКУ</button>
    </form>
  </div>
</section>
