<section class="recommendations">
  <div class="container">
    <h2 class="recommendations__title">BOOKVILLE рекомендует</h2>
    <ul class="recommendations__books">
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card__wrapper">
          <div class="card__heart">
            <svg class="card__icon-heart">
              <use href="images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
          <div class="card__thumb">
            <img src="images/book.jpg" alt="book" class="card__img" />
          </div>
          <div class="card__info">
            <p class="card__author">Ольга Примаченко</p>
            <p class="card__book">К себе нежно</p>
            <p class="card__price">790₽</p>
            <svg class="card__icon-cart">
              <use href="images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
    <div class="btn-see-all">
      <a href="#" class="btn-see-all__text">Смотреть все</a>
      <svg class="btn-see-all__icon">
        <use href="images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
