<section class="selection">
  <div class="container">
    <h2 class="selection__title">Подборка книг</h2>
    <ul class="selection__list">
      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">
            Для уютного вечера
          </figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books1.jpg" alt="Для уютного вечера" />
        </figure>
      </li>

      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">
            Для проактивных родителей
          </figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books2.jpg" alt="Для проактивных родителей" />
        </figure>
      </li>

      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">О психологии</figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books3.jpg" alt="О психологии" />
        </figure>
      </li>

      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">
            Для руководителя
          </figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books4.jpg" alt="Для руководителя" />
        </figure>
      </li>

      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">О здоровье</figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books5.jpg" alt="О здоровье" />
        </figure>
      </li>

      <li class="selection__item">
        <figure class="selection__card">
          <figcaption class="selection__description">Для любознаек</figcaption>
          <p class="selection__amount"><span>15</span> книг</p>
          <img src="images/books6.jpg" alt="Для любознаек" />
        </figure>
      </li>
    </ul>
  </div>
</section>
