<section class="about">
  <div class="container">
    <h2 class="about__title">BOOKVILLE</h2>
    <h3 class="about__subtitle">О нашей компании</h3>
    <div class="about__wrapper">
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat incididunt ut laboret.
      </p>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat incididunt ut laboret.
      </p>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat incididunt ut laboret.
      </p>

      <div class="about__icons">
        <svg class="about__icon">
          <use href="images/symbol-defs.svg#icon-point"></use>
        </svg>
        <svg class="about__icon">
          <use href="images/symbol-defs.svg#icon-point"></use>
        </svg>
        <svg class="about__icon">
          <use href="images/symbol-defs.svg#icon-point"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
