<section class="advantages">
  <h2>Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <div class="advantages__number">1</div>
      <h2 class="advantages__title">Консультация книжного сомелье</h2>
    </li>
    <li class="advantages__item">
      <div class="advantages__number">2</div>
      <h2 class="advantages__title">Доставка 1-2 дня</h2>
    </li>
    <li class="advantages__item">
      <div class="advantages__number">3</div>
      <h2 class="advantages__title">Уникальные подборки книг</h2>
    </li>
    <li class="advantages__item">
      <div class="advantages__number">4</div>
      <h2 class="advantages__title">Эстетическая упаковка</h2>
    </li>
    <li></li>
  </ul>
</section>
