<li class="card">
  <div class="card__wrapper">
    <div class="card__heart">
      <svg class="card__icon-heart">
        <use href="images/symbol-defs.svg#icon-heart"></use>
      </svg>
    </div>
    <div class="card__thumb">
      <img src="images/book.jpg" alt="book" class="card__img" />
    </div>
    <div class="card__info">
      <p class="card__author">Ольга Примаченко</p>
      <p class="card__book">К себе нежно</p>
      <p class="card__price">790₽</p>
      <svg class="card__icon-cart">
        <use href="images/symbol-defs.svg#icon-cart"></use>
      </svg>
    </div>
  </div>
</li>
