<div class="cart">
  <div class="container cart__container">
    <h2 class="cart__title">Корзина</h2>
    <ul class="cart__title-list">
      <li class="cart__item-text">фото</li>
      <li class="cart__item-text">название</li>
      <li class="cart__item-text">количество</li>
      <li class="cart__item-text">цена</li>
    </ul>
    <h2 class="cart__message">Добавьте понравившиеся книги в корзину</h2>
    <ul class="cart__list"></ul>
    <div class="cart__total-wrapper">
      <p class="cart__total-price">Итого: <span> 0 </span> $</p>
      <a href="order-page.html" class="cart__btn">перейти к оплате</a>
    </div>
  </div>
</div>
