<div class="cart">
  <div class="container">
    <h2 class="cart__title">Корзина</h2>
    <ul class="cart__item cart__item--name">
      <li class="cart__item-text">фото</li>
      <li class="cart__item-text">название</li>
      <li class="cart__item-text">количество</li>
      <li class="cart__item-text">цена</li>
    </ul>

    <ul class="cart__list">
      <!-- <li class="cart__item">
        <div class="cart__img-wrapper">
          <img src="images/book-mob.jpg" alt="book" class="cart__img" />
        </div>
        <div class="cart__book-info">
          <div>
            <p class="cart__book-info-author">Ольга Примаченко</p>
            <p class="cart__book-info-name">К себе нежно</p>
          </div>
          <div class="cart__book-wrapper">
            <div class="cart__book-amount">
              <button class="cart__book-amount-btn" data-action="incr">
                +
              </button>
              <span class="cart__book-amount-text">1</span>
              <button class="cart__book-amount-btn" data-action="decr">
                -
              </button>
            </div>
            <p class="cart__book-price">5550 ₽</p>
          </div>
        </div>
      </li> -->
    </ul>
    <div class="cart__total-wrapper">
      <p class="cart__total-price">Итого:<span> 2.790 </span>₽</p>
      <button class="cart__btn">перейти к оплате</button>
    </div>
  </div>
</div>
