<div class="cart">
  <div class="container">
    <h2 class="cart__title">Корзина</h2>
    <ul class="cart__item cart__item--name">
      <li class="cart__item-text">фото</li>
      <li class="cart__item-text">название</li>
      <li class="cart__item-text">количество</li>
      <li class="cart__item-text">цена</li>
    </ul>

    <ul class="cart__list"></ul>
    <div class="cart__total-wrapper">
      <p class="cart__total-price">Итого:<span> 2.790 </span>₽</p>
      <button class="cart__btn">перейти к оплате</button>
    </div>
  </div>
</div>
