<section class="events">
  <div class="container events__container">
    <div class="events__content">
      <h2 class="events__title">О наших мероприятиях</h2>
      <p class="events__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat incididunt ut laboret.Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        incididunt ut laboret.
      </p>
      <button type="button" class="events__btn">
        <p class="btn__title">подробнее</p>
        <svg class="btn__icon" fill="currentColor">
          <use href="images/symbol-defs.svg#icon-arrow-goto"></use>
        </svg>
      </button>
    </div>
    <div class="events__thumb">
      <img src="images/about.jpg" alt="events" class="events__img" />
      <button type="button" class="events__btn">
        <p class="btn__title">подробнее</p>
        <svg class="btn__icon" fill="currentColor">
          <use href="images/symbol-defs.svg#icon-arrow-goto"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
