<section class="events">
  <div class="container">
    <h2 class="events__title">О наших мероприятиях</h2>
    <p class="events__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat incididunt ut laboret.Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat incididunt ut
      laboret.
    </p>
    <img src="images/about.jpg" alt="events" class="events__img" />
  </div>
</section>
