<header class="header">
  <div class="container header__container">
    <svg class="icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-th-menu"></use>
    </svg>
    <svg class="icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-dandruff"></use>
    </svg>
    <img src="./images/logo.png" class="logo" />
    <svg class="icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-heart"></use>
    </svg>
    <svg class="icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-cart"></use>
    </svg>
  </div>
</header>
