<div class="container header__container">
  <a class="header__phone" href="tel:+7 999 140 00 00">
    <svg class="header__icon">
      <use href="images/symbol-defs.svg#icon-phone"></use>
    </svg>
    <p>+7 999 140 00 00</p>
  </a>

  <ul class="header__left-menu">
    <li class="header__item">
      <a href="" data-menu>
        <svg class="header__icon">
          <use href="images/symbol-defs.svg#icon-th-menu"></use>
        </svg>
      </a>
    </li>

    <li class="header__item">
      <a href="" data-dandruff-l>
        <svg class="header__icon">
          <use href="images/symbol-defs.svg#icon-dandruff"></use>
        </svg>
      </a>
    </li>
  </ul>

  <a href="#" lang="en" class="logo">
    <img class="logo__img" src="images/logo-desktop.png" alt="Logo" />
  </a>

  <ul class="header__right-menu">
    <li class="header__item">
      <a href="" data-dandruff-r>
        <svg class="header__icon">
          <use href="images/symbol-defs.svg#icon-dandruff"></use>
        </svg>
      </a>
    </li>

    <li class="header__item">
      <a href="" data-heart>
        <svg class="header__icon">
          <use href="images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </a>
    </li>

    <li class="header__item">
      <a href="" data-cart>
        <svg class="header__icon">
          <use href="images/symbol-defs.svg#icon-cart"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
