<section class="hero">
  <div class="container hero__container">
    <svg class="hero__icon hero__icon--left" fill="currentColor">
      <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
    </svg>
    <svg class="hero__icon hero__icon--right" fill="currentColor">
      <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
    </svg>

    <img src="images/hero@2.jpg" class="hero__img" />
  </div>
  <button type="button" class="btn">
    <span class="btn__title">ПЕРЕЙТИ В КАТАЛОГ</span>
    <svg class="btn__icon" fill="currentColor">
      <use href="./images/symbol-defs.svg#icon-arrow-goto"></use>
    </svg>
  </button>
</section>
