<div class="menu">
  <ul class="menu__list">
    <li class="menu__item">Меню</li>
    <li class="menu__item"><a href="" class="menu__link">О нас</a></li>
    <li class="menu__item"><a href="" class="menu__link">Мероприятия</a></li>
    <li class="menu__item">
      <a href="" class="menu__link">Доставка и оплата</a>
    </li>
    <li class="menu__item"><a href="" class="menu__link">Блог</a></li>
    <li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
    <li class="menu__item"><a href="" class="menu__link">Подразделы</a></li>
    <li class="menu__item">
      <ul class="menu__books">
        <li class="menu__books-item">Книги</li>
        <li class="menu__books-item">
          <a href="" class="menu__books-link">Художественная литература</a>
        </li>
        <li class="menu__books-item">
          <a href="" class="menu__books-link">Саморазвитие</a>
        </li>
        <li class="menu__books-item">
          <a href="" class="menu__books-link">Психология</a>
        </li>
        <li class="menu__books-item">
          <a href="" class="menu__books-link">Философия</a>
        </li>
        <li class="menu__books-item">
          <a href="" class="menu__books-link">Здоровье</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <ul class="menu__games">
        <li class="menu__games-item">Игры</li>
        <li class="menu__games-item">
          <a href="" class="menu__games-link">Детские</a>
        </li>
        <li class="menu__games-item">
          <a href="" class="menu__games-link">Взрослые</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <ul class="menu__stationery">
        <li class="menu__stationery-item">Канцеляркие товары</li>

        <li class="menu__stationery-item">
          <a href="" class="menu__stationery-link">блокноты</a>
        </li>
        <li class="menu__stationery-item">
          <a href="" class="menu__stationery-link">тетради</a>
        </li>
        <li class="menu__stationery-item">
          <a href="" class="menu__stationery-link">планеры и трекеры</a>
        </li>
        <li class="menu__stationery-item">
          <a href="" class="menu__stationery-link">ручки</a>
        </li>
        <li class="menu__stationery-item">
          <a href="" class="menu__stationery-link">карандаши и фломастеры</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
