<div class="container order">
  <h2 class="order__title">Оформление заказа</h2>

  <form class="form" autocomplete="off">
    <div class="form__user-info">
      <p class="form__subtitle">Детали оплаты</p>
      <input
        type="text"
        class="form__input"
        placeholder="Ваше имя"
        name="name"
        required
      />
      <input
        type="text"
        class="form__input"
        placeholder="Ваша фамилия"
        name="surname"
        required
      />
      <input
        type="text"
        class="form__input"
        placeholder="E-mail"
        name="mail"
        required
      />
      <input
        type="text"
        class="form__input"
        placeholder="Номер телефона"
        name="tel"
        required
      />
      <select class="form__input" name="country">
        <option>Страна</option>
        <option value="UA">Украина</option>
        <option value="PL">Польща</option>
        <option value="RM">Румыния</option>
        <option value="ML">Молдова</option>
      </select>
      <input
        type="text"
        class="form__input"
        placeholder="Улица и т.д."
        name="street"
      />
      <input
        type="text"
        class="form__input"
        placeholder="Подъезд, этаж и т.п. "
        name="floor"
      />
      <input
        type="text"
        class="form__input"
        placeholder="Населенный пункт"
        name="Locality"
      />
      <input
        type="text"
        class="form__input"
        placeholder="Область/регион"
        name="region"
      />
      <input
        type="text"
        class="form__input"
        placeholder="Почтовый индекс"
        name="postcode"
      />

      <label for="info" class="form__subtitle">Дополнительная информация</label>
      <textarea class="form__input" id="info" rows="2" name="info"> </textarea>
    </div>

    <div class="form__radio-wrapper">
      <div class="form__payment-method">
        <p class="form__subtitle">Способ оплаты</p>
        <label class="form__payment-label">
          <svg class="form__icon form__icon--checked">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>
          <input type="radio" name="payment-method" value="cash" checked />
          Оплата наличными
        </label>
        <label class="form__payment-label">
          <svg class="form__icon">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>

          <input type="radio" name="payment-method" value="transfer" />
          Оплата переводом
        </label>
        <label class="form__payment-label">
          <svg class="form__icon">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>

          <input type="radio" name="payment-method" value="courier" />
          Наличными курьеру
        </label>
        <label class="form__payment-label">
          <svg class="form__icon">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>

          <input type="radio" name="payment-method" value="card" />
          Оплата банковской картой
        </label>
      </div>

      <div class="form__delivery-method">
        <p class="form__subtitle">Способ доставки</p>

        <label class="form__payment-label">
          <svg class="form__icon form__icon--checked">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>
          <input type="radio" name="delivery-method" value="storage" checked />
          Доставка на склад
        </label>

        <label class="form__payment-label">
          <svg class="form__icon">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>
          <input type="radio" name="delivery-method" value="door" />
          Доставка до двери
        </label>

        <label class="form__payment-label">
          <svg class="form__icon">
            <use href="images/symbol-defs.svg#icon-bird"></use>
          </svg>
          <input type="radio" name="delivery-method" value="post" />
          Доставка в почтомат
        </label>
      </div>
      <div class="order__info">
        <p class="form__subtitle">Ваш заказ</p>

        <div class="order-card">
          <div class="order-card__title-list">
            <p>Товар</p>
            <p>Итого</p>
          </div>
          <ul class="order-card__list"></ul>
          <div class="order-card__total-wrapper">
            <p>Итого: <span>0</span>$</p>
          </div>
        </div>
        <button type="submit" class="cart__btn">ПОДТВЕРДИТЬ ЗАКАЗ</button>
      </div>
    </div>
  </form>
</div>
