.order {

	&__container {

	}
		&__title {
		}

		&__subtitle {
		}
}
.form {
display: flex;
flex-direction: column;
flex-wrap: wrap;
		&__input {
		}
}
.cart {

		&__title-list {
		}

		&__item-text {
		}

		&__list {
		}

		&__total-wrapper {
		}

		&__total-price {
		}

		&__btn {
		}
}
