.advantages{
&__list{
padding: 15px;
@media screen and (min-width: $tablet) {
display: flex;
justify-content: space-between;
align-items: center;
}
&>div{
	width: 50%;
	@media screen and (min-width: $desktop) {
display: flex;
justify-content: center;
align-items: center;
}
}
}

&__item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	@media screen and (min-width: $desktop) {
	width: 50%;
	margin-right: 10px;
}
}

&__number {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 44px;
	min-height: 44px;
	margin-right: 15px;

	border-radius: 50%;
	border: 0.5px solid $advantages-border-color;
	background-color: $advantages-bgc;

	font-weight: 300;
	font-size: 20px;
	line-height: 1.22;
	color: $advantages-border-color;
}

&__title {
	font-weight: 300;
font-size: 14px;
line-height: 17px;
color: $title-color;

@media screen and (min-width: $tablet) {
font-size: 16px;
  }
@media screen and (min-width: $desktop) {
font-size: 18px;
  }
}
}

