.cart {

&__title {
font-weight: 300;
font-size: 18px;
line-height: 1.22;
color: #000000;
margin-bottom: 20px;
	@media screen and (min-width: $tablet){
font-size: 24px;
margin-bottom: 30px;
}
	@media screen and (min-width: $desktop){
font-size: 36px;
	}
}

&__list {

}


// &__item:first-child {
// // display: none;
// font-weight: 500;
// font-size: 16px;
// line-height: 20px;
// color: #373737;
// @media screen and (min-width: $tablet){
// display: flex;
// }
// 	@media screen and (min-width: $desktop){
// 	}
// }

&__item:last-child {
	border-bottom: 0.5px solid #CDCDCD;
}


&__item {
display: flex;
align-items: center;
padding: 7px;
	@media screen and (min-width: $tablet){
		justify-content: space-between;
}
	@media screen and (min-width: $desktop){
		padding-left: 65px;
		padding-right: 65px;
	}
}
&__item:not(:first-child) {
	border-top: 0.5px solid #CDCDCD;
}

&__img-wrapper {
	min-width: 80px;
	height: auto;
margin-right: 20px;
	@media screen and (min-width: $tablet){
}
	@media screen and (min-width: $desktop){
	}
}

&__img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

&__book-info {
		@media screen and (min-width: $tablet){
			width: 75%;
			display: flex;
			justify-content: space-between;
}
	@media screen and (min-width: $desktop){
	}
}

&__book-info-author {
	font-weight: 400;
font-size: 12px;
line-height: 1.25;
color: #A3A3A3;
margin-bottom: 7px;
	@media screen and (min-width: $tablet){
		font-size: 14px;
		margin-bottom: 13px;
}
}

&__book-info-name {
	font-weight: 400;
font-size: 14px;
line-height: 1.22;
color: #373737;
margin-bottom: 15px;
	@media screen and (min-width: $tablet){
		font-size: 18px;
}
}

&__book-wrapper{
	display: flex;
	align-items: center;
	@media screen and (min-width: $tablet){
	width: 55%;
	justify-content: space-between;
}
	@media screen and (min-width: $desktop){
			width: 50%;
	}
}

&__book-amount {
	display: flex;
	align-items: center;
}

&__book-amount-btn {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 1px solid #BE907E;
	background-color: transparent;
	color: #BE907E;
	margin-right: 7px;
	cursor: pointer;
	&:hover {
		border-color: red;
		color: red;
	}
				&--disabled:hover {
		color: #eee;
		border-color: #eee;
	}

@media screen and (min-width: $tablet){
width: 36px;
height: 36px;
}
}

&__book-amount-text {
	font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #353535;
margin-right: 7px;
@media screen and (min-width: $tablet){
font-size: 18px;
	}

}


&__book-price {
	font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #343434;
@media screen and (min-width: $tablet){
font-size: 20px;
	}

}

&__total-wrapper {
			padding-top: 10px;

	@media screen and (min-width: $tablet){
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 25px;
}
}


&__total-price {
	margin-bottom: 10px;
	text-align: right;
	font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #373737;
@media screen and (min-width: $tablet){
font-size: 20px;
	}

&>span {
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #343434;
@media screen and (min-width: $tablet){
font-size: 20px;
	}
}
}


&__btn {
	display: block;
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	padding: 15px 0;
	border: none;
	outline: none;
	border-radius: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
	text-transform: uppercase;
	background-color: $btn-bgc;
	color: $btn-text-color;
	cursor: pointer;
	&:hover {
		background-color: $card-subtitle-color-light;
	}
		@media screen and (min-width: $tablet){
		font-size: 16px;
		margin: 0 0 0 30px;
	}
}
}



