.consultation {
padding: 20px 0;
background-color: $accent-bgc-dark;

&__title {
	margin-bottom: 10px;
font-weight: 300;
font-size: 18px;
line-height: 1.22;
text-align: center;
color: $title-color;
	@media screen and (min-width: $tablet){
font-size: 24px;
	}
	@media screen and (min-width: $desktop){
font-size: 36px;
	}

}

&__subtitle {
	margin-bottom: 20px;
font-weight: 100;
font-size: 12px;
line-height: 1.20;
text-align: center;
color: $main-text-color;
	@media screen and (min-width: $tablet){
font-size: 16px;
	}
	@media screen and (min-width: $desktop){
font-size: 18px;
	}
}

&__form {
display: flex;
flex-direction: column;
flex-wrap: wrap;
	@media screen and (min-width: $tablet){
		flex-direction: row;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
}
	@media screen and (min-width: $desktop){
		padding-left: 30px;
		padding-right: 30px;
	}


&>input {
margin-bottom: 10px;
background-color: #fff;
outline: none;
border: none;
border-radius: 8px;
padding: 15px 35px;
font-size: 14px;
	@media screen and (min-width: $tablet){
		width: 45%;
		margin-bottom: 20px;

}
	@media screen and (min-width: $desktop){
		width: calc(100% / 3 - 10px);
		margin-bottom: 0;
		margin-right: 10px;
	}


&::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 1.22;
color: #9C9C9C;
	@media screen and (min-width: $tablet){
font-size: 14px;
	}
	@media screen and (min-width: $desktop){
font-size: 18px;
	}
}
}
}
&__btn {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
	border: none;
	outline: none;
	border-radius: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
	text-transform: uppercase;
	background-color: $btn-bgc;
	color: $btn-text-color;
		@media screen and (min-width: $tablet){
		width: calc(100% / 3);
		font-size: 16px;
	}
}
}
