.header { 
	@media screen and (min-width: $tablet) {
	padding: 50px 0 28px 0;
}
	@media screen and (min-width: $desktop) {
	padding: 70px 0 28px 0;
}
&__container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 15px;
}

&__item {
	padding: 0 10px;
	@media screen and (min-width: $tablet) {
	padding: 0 15px;
}
}

&__icon {
	width: 20px;
	height: 20px;
	fill: $header-icon-color;
	cursor: pointer;
		&:active{
		stroke: red;
	}
	  @media screen and (min-width: $tablet) {
	width: 25px;
	height: 25px;
}
	  @media screen and (min-width: $desktop) {
	width: 30px;
	height: 30px;
}
}

&__phone {
	display: none;
cursor: pointer;
	svg{
	width: 16px;
	height: 16px;
	}

	p {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.22;
	color: $header-tel-color;
	margin-left: 13px;
	@media screen and (min-width: $desktop) {
	font-size: 18px;
}

	}
  @media screen and (min-width: $desktop) {
	display: flex;
	align-items: center;
}
}

&__left-menu {
	display: flex;
  @media screen and (min-width: $desktop) {
	display: none;
}
}

&__right-menu {
display: flex;
.header__item:first-child{
display: none;
@media screen and (min-width: $desktop) {
display: block;
}
}
}
}



.logo { 
	display: block;
	width: 96px;
	height: auto;
	cursor: pointer;
	@media screen and (min-width: $tablet) {
width: 155px;
}
}


