.hero {
	position: relative;
	padding: 20px 0;
	&__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
&__container {
		position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// border: 1px solid red;
	height: 178px;
	@media screen and (min-width: $tablet){
		height: 320px;
	}
	@media screen and (min-width: $desktop){
		height: 560px;
	}
}
&__icon{
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
&__icon--left{
	left: 0px;
	@media screen and (min-width: $desktop){
	left: 70px;
	}
}
	&__icon--right{
	right: 0px;
	@media screen and (min-width: $desktop){
	right: 70px;
	}

}
&__icon:hover{
		stroke: black;
	}
}
.btn {
position: absolute;
bottom: 35px;
left: 50%;
padding: 0;
border: 1px solid transparent;
width: 192px;
height: 36px;

display: flex;
align-items: center;
justify-content: center;

background: $hero-btn-bgc;
border-radius: 8px;
cursor: pointer;
transform: translate(-50%);

@media screen and (min-width: $tablet){
width: 250px;
height: 50px;
bottom: 60px;
}
@media screen and (min-width: $desktop){
width: 360px;
height: 66px;
bottom: 100px;
}

&:hover,
&:focus {
	background-color: $hero-btn-bgc-hover;
	border: 1px solid $hero-btn-text-color;
}
	&__title {
font-weight: 400;
font-size: 12px;
line-height: 1.25;
color: $btn-bgc;
margin-right: 10px;

@media screen and (min-width: $tablet){
font-size: 16px;
margin-right: 15px;
	}
	}

	&__icon{
width: 9px;
height: 9px;
@media screen and (min-width: $tablet){
width: 14px;
height: 14px;
	}
	@media screen and (min-width: $desktop){
width: 20px;
height: 20px;
	}
	}
}