.hero {
	position: relative;
	padding: 20px 0;

	&__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
&__icon {
	cursor: pointer;
	&:hover{
		stroke: black;
	}

}
 }
.btn {
position: absolute;
bottom: 35px;
left: 50%;
z-index: 111;
padding: 0;
border: 1px solid transparent;
width: 192px;
height: 36px;

display: flex;
align-items: center;
justify-content: center;

background: $hero-btn-bgc;
border-radius: 8px;
cursor: pointer;
transform: translate(-50%);

@media screen and (min-width: $tablet){
width: 250px;
height: 50px;
bottom: 60px;
}
@media screen and (min-width: $desktop){
width: 360px;
height: 66px;
bottom: 100px;
}

&:hover,
&:focus {
	background-color: $hero-btn-bgc-hover;
	border: 1px solid $hero-btn-text-color;
	.btn__icon{
		transform: scale(1.4);
	}
}
	&__title {
font-weight: 400;
font-size: 12px;
line-height: 1.25;
color: $btn-bgc;
margin-right: 10px;

@media screen and (min-width: $tablet){
font-size: 16px;
margin-right: 15px;
	}
	}

	&__icon{
width: 9px;
height: 9px;
@media screen and (min-width: $tablet){
width: 14px;
height: 14px;
	}
	@media screen and (min-width: $desktop){
width: 20px;
height: 20px;
	}
	}
}

.swiper-pagination span {
	background-color: $btn-bgc;
	width: 10px;
	height: 10px;
	cursor: pointer;
}